<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="icon" href="favicon.ico" />
        <title>Jobs App | Funny Jobs.</title>
        <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{bootstrap/css/jumbotron.css}" rel="stylesheet" />
        <link th:href="@{bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet" />
    </head>

    <body>
        <header th:insert="fragments/menu :: menu-principal"></header>
		<hr>
		<hr>                                  
		<hr>                                
        <main role="main">
            <div class="jumbotron">
                <div class="container">
                    <h3>Encuentra el trabajo que andas buscando.</h3>
                    <h4>Puedes buscar por descripción y categoría.</h4>
                
                    <form class="form-inline" th:action="@{/search}" method="get" th:object="${search}">
                        <input type="text" class="form-control mb-3" th:field="*{descripcion}" placeholder="Escriba una búsqueda" />&nbsp;
                        <select th:field="*{categoria.id}" class="custom-select custom-select mb-3">
                            <option th:value="${null}" selected>Seleccione una categoría</option>
                            <option th:each="categoria: ${categorias}" th:value="${categoria.id}" th:text="${categoria.nombre}"></option>
                            
                        </select>
                        &nbsp;
                        <button type="submit" class="btn btn-primary mb-3">Buscar</button>
                    </form>
                </div>
            </div>
            <hr />

            <div class="container">
                <h2 class="font-weight-bold text-center text-capitalize">Vacantes Destacadas</h2>
                <hr />
                <div th:each="vacante: ${vacantes}" class="row justify-content-center align-items-center">
                    <div class="col-md-3">
                        <img th:src="@{/logos/{img}(img=${vacante.imagen})}" class="rounded mx-auto d-block img-thumbnail" style="width: 180px; height: 180px;" />
                    </div>
                    <div class="col-md-9">
                        <h2 th:text="${vacante.nombre}"></h2>
                        <h6 class="card-title"><strong>Categoría: </strong> <span th:text="${vacante.categoria.nombre}"></span></h6>
                        <h6 class="card-title"><strong>Publicado: </strong> <span th:text="${#dates.format(vacante.fecha,'dd-MM-yyyy')}"></span></h6>
                        <p th:text="${vacante.descripcion}"></p>
                        <p>
                            <a th:href="@{/vacantes/view/{id} (id=${vacante.id})}" class="btn btn-primary" role="button">Detalle Vacante &raquo;</a>
                        </p>
                    </div>
                    <hr />
                </div>
                <hr />
            </div>
            <hr>
            <hr>
        </main>

        <footer th:insert="fragments/footer :: footer" class="footer"></footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>
